.slide-children[b-jwn5dwyggc] {
    height: auto;
    width: 55%;
    position: absolute;
    right: 10px;
    bottom: 25px;
    text-align: center;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid;
    border-color:black
}

.background-solid[b-jwn5dwyggc] {
    background-color:antiquewhite ;
}

.prod-container[b-jwn5dwyggc] {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 8px 0px;
}

.slide-img[b-jwn5dwyggc] {
    width: 120px;
    margin: 0px 0px 0px;

}

    .slide-img img[b-jwn5dwyggc] {
        height: 80px;
        border-radius: 8%;
    }

.slide-descr[b-jwn5dwyggc] {
    width: 220px;
}

.slide-description-top[b-jwn5dwyggc] {
    display: flex;
    position: absolute;
    top: 0px;
    left: 10px;
}

.slide-description-middle[b-jwn5dwyggc] {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -1px;
    right: 20px;
}

.slide-description-bottom[b-jwn5dwyggc] {
    display: flex;
    justify-content: space-around;
    position: absolute;
    background: transparent;
    top : 100px;
    left: 100px;
}



.font-valor1[b-jwn5dwyggc] {
    font-size: 50px;
    color: #fc0;
    font-family: 'Vladimir Script';
    color: darkorange;
}

.font-valor2[b-jwn5dwyggc] {
    font-size: 25px;
    color: darkblue;
    font-family: 'Script MT';
}

.font-valor3[b-jwn5dwyggc] {
    font-size: 18px;
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;
}


.btn-comprar[b-jwn5dwyggc] {
    width: 55%;
    height: 6px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: white;
    border-radius: 8%;
}



a.button[b-jwn5dwyggc] {
    padding: 1px 6px;
    border: 1px outset ;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}


.div-sizes[b-jwn5dwyggc]{
    display:flex;
}


@media (max-width: 641px){
    .slide-children[b-jwn5dwyggc] {
        height: auto;
    }

    .slide-img[b-jwn5dwyggc] {
        position: absolute;
        top: 5px;
        left: 15%;
        margin: 1px;
    }
    .slide-descr[b-jwn5dwyggc] {
        position: absolute;
        left: 0;
        margin: 5px;
        bottom: 15px;
    }

    .slide-description-middle p[b-jwn5dwyggc] {
        font-size: 7pt;
        width: 350px;
    }

    .slide-description-botton[b-jwn5dwyggc]{
        height:60px;
    }

    .div-sizes[b-jwn5dwyggc] {
        position: absolute;
        left: 0px;
        margin-top: 14px;
    }

    .btn-comprar[b-jwn5dwyggc] {
        height: 30px;
        width: 150px;
        margin-top:33px;
    }

    .div-value-prod[b-jwn5dwyggc] {
        position: absolute;
        right: 40%;
        bottom: 0px;
    }
}

