@using Microsoft.EntityFrameworkCore

@using RCLAPI.Services
@using Microsoft.AspNetCore.Components
@using RCLAPI.DTO
@using RCLProdutos.Shared.Slider
@using RCLProdutos.Shared.Cards
@using RCLProdutos.Shared.CardProduto

@inject NavigationManager NavigationManager

@* <div class="card" style="background-image:url(@pathurlimg); @marginLeft;position:center"> *@

<div title="@categoria!.Nome" class="card @SelectedClass" style="@CardStyle @marginLeft;position:center">
    <div>
        <p>@categoria!.Nome</p>
    </div>
    <div class="footer-button">
        <button type="button" class="card-action" @onclick='(() => HandleSelect(categoria))'>
            <img alt="Pesquisar categoria" src="/images/searchredicon50x50.png" width="30" />
        </button>
    </div>
</div>
