.carousel-cards {
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-title {
    color: white;
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.cards-container {
    width: 300%;
    height: auto;
    display: flex;
}

.btn-cards-left {
    border: 0;
    padding: 0;
    height: 140px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
}

    .btn-cards-left img {
        height: 28px;
    }

.btn-cards-right {
    border: 0;
    padding: 0;
    height: 140px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
    right: 0;
}

    .btn-cards-right img {
        height: 28px;
    }
