.container-location[b-s6fbsqhdck] {
    display: flex;
    width: 150px;
}

img[b-s6fbsqhdck] {
    height: 25px;
}

p[b-s6fbsqhdck] {
    font-size: 8pt;
}

@media(max-width:641px){
   p[b-s6fbsqhdck] {
       font-size: 8pt;
   }
}
