a[b-498gqg2nlc] {
    text-decoration: none;
    color: #fff;
    font-size: 8pt;
}

.nav-login[b-498gqg2nlc] {
    height:53px;
}

    .nav-login img[b-498gqg2nlc] {
        height: 15px;
    }

@media (max-width: 641px) {
    .nav-login[b-498gqg2nlc]{
        display:none;
    }
}
