@page "/modoentregas"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GestaoLoja.Entity
@using GestaoLoja.Data

@attribute [Authorize(Roles = "Admin,Gestor")]

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Listagem</PageTitle>

<h1>Listagem de Modos de Disponibilização</h1>

<p>
    <a title="Novo registo!" href="/modoentregas/create">
        <img src="/img/novo.png" style="height:50px" />
    </a>
</p>

<QuickGrid Class="table" Items="ModosEntrega">
    <PropertyColumn Property="m => m.Nome" Title="Nome" />
    <PropertyColumn Property="m => m.Detalhe" Title="Detalhe" />

    <TemplateColumn Context="m" Title="Ações">
        <a title="Editar" href="@($"/modoentregas/edit?id={m.Id}")">
            <img title="Editar" src="/img/editicon.png" style="height:30px" />
        </a> |
        <a title="Detalhes" href="@($"/modoentregas/details?id={m.Id}")">
            <img title="Detalhes" src="/img/detailsicon.png" style="height:30px" />
        </a> |
        <a title="Apagar" href="@($"/modoentregas/delete?id={m.Id}")">
            <img title="Apagar" src="/img/deleteicon.png" style="height:30px" />
        </a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    private IQueryable<ModoEntrega> ModosEntrega =>
        context.ModosEntrega
               .AsNoTracking()
               .OrderBy(m => m.Nome);

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
